{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>best <span>services</span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!--::our_service part start::-->
    <section class="our_service padding_top" style="margin-bottom: 10px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section_tittle">
                        <p>our service</p>
                        <h2>what we offer</h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single_offer_text text-center wedding">
                        <span class="flaticon-love-and-romance"></span>
                        <h4>wedding photography</h4>
                        <p>{{ content.wedding.overview }}</p>
                        <a href="/contact" class="btn_1">contact us</a>
                    </div>
                    <div class="single_offer_img d-none d-md-block">
                        <img src="{{ content.other.thumbnail.url }}" alt="">
                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="single_offer_img d-none d-md-block">
                        <img src="{{ content.wedding.thumbnail.url }}" alt="">
                    </div>
                    <div class="single_offer_text text-center nature">
                        <span class="flaticon-leaf"></span>
                        <h4>other services include:</h4>
                        <p>{{ content.other.overview }}</p>
                        {% for i in content.list %}
                        <li id="service-list">{{ i.list }}</li>
                        {% endfor %}
                        <a href="/contact" class="btn_1" style="margin-top: 20px;">contact us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--::our_service part end::-->

   
   {% endblock content %}